// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,900|Krub:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i");


// Define fonts for body and headers
$base-font: 'Krub', sans-serif;
$header-font: 'Krub', sans-serif;

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Liquide";
  src: font-url('Liquide.ttf') format('truetype')
}
$liquide: "Liquide";

$base-size: 18px;
$base-height: 1.4;
