body{
  font-family: 'Krub';
}

h1 {
  font-family: $liquide;
}

h2 {
  font-family: 'Krub';
}

h3 {
  font-family: 'Krub';
}

h4 {
  font-family: 'Krub';
}

h5 {
  font-family: 'Krub';
}

h6 {
  font-family: 'Krub';
}
