  <div class="footer">
<!--     <div class="row"> -->
      <div class="col-12 col-md-8 footer-info">
        <h4>Eazyride</h4>
        <p>Eazyride est le site de <strong>covoiturage</strong> qui te permet de réaliser ton <br /><strong>activité sportive favorite</strong> de manière écologique, économique, <br /> conviviale et sécuritaire.</p>
      </div>
      <!-- div class="col-6 col-md-4 footer-lien">
         <h4>Liens utile</h4>
          <br />
     <p><%= link_to "Proposer un trajet", new_journey_path %></p>
       <p><%= link_to "Rechercher un trajet", journeys_path %></p>
       <p><%= link_to "Contact", new_journey_path %></p> -->
    <!--   </div> -->
        <div class="col-6 col-md-4 footer-links text-center">
          <h4>Rejoignez-nous</h4>
          <br />
          <i class="fab fa-facebook fa-2x"></i>
          <i class="fab fa-instagram fa-2x"></i>
          <i class="fab fa-linkedin-in fa-2x"></i>
        </div>
    </div>
    <div class="footer-eazyride">
    <div class="col-12 col-md-8 footer-wagon">
       Made with <i class="fas fa-heart"></i> & <i class="fas fa-coffee"></i> at Le Wagon Paris
    </div>
    <div class="col-6 col-md-4 footer-copyright text-center">© 2018 Copyright: Eazyride.co
    </div>
</div>
