  <div class="footer">
      <div class="footer-info">
        <h4>Eazyride</h4>
        <p>Eazyride est le site de <strong><font color="#74b49b">covoiturage</font></strong> qui te permet de réaliser ton <br /><strong><font color="#74b49b">activité sportive favorite</font></strong> de manière écologique, économique, <br /> conviviale et sécuritaire.</p>
      </div>
    <!--   <div class="col-sm-4 col-md-4">
        <h4>Liens utile</h4>
          <br />
       <p><%= link_to "Proposer un trajet", new_journey_path %></p>
       <p><%= link_to "Rechercher un trajet", journeys_path %></p>
       <p><%= link_to "Contact", new_journey_path %></p>
      </div> -->
        <div class="footer-links text-center">
          <h4>Rejoignez-nous</h4>
          <br />
          <img src="https://res.cloudinary.com/dscu7dmwa/image/upload/v1544115120/instagram.svg" height="50" width="50">
          <img src="https://res.cloudinary.com/dscu7dmwa/image/upload/v1544115124/facebook.svg" height="50" width="50">
      </div>
    </div>
