.banner-home {
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 30vh;
}

.small-banner-home {
  background-size: cover;
  background-position: center;
  height: 60vh;
  color: #ffffff;
  text-align: center;
  padding-top: 15vh;
}

.banner-page {
  background-size: cover;
  background-position: center;
  // text-align: center;
  color: white;
  width: 100vw;
  height: 40vh;
}

.banner-page h1 {
  margin-top: 0px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
 }


.text-center {
  text-align: center;
}
