.container {
  // max-width: 1000px;
  margin: 50px auto;
}

.card-home {
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
   &:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
 }
}

.card-home-photo {
   height: 180px;
   background-size: cover;
   color: white;
   position: relative;
   opacity: 1;
   transition: .5s ease;
   border-radius: 5px;
}

.card-home-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
   h2 {
   font-size: 22px;
 }
}

.card-home-footer {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 10px;
  height: 110px;
  border-radius: 5px;
  p {
    color: rgba(0,0,0,0.8);
    font-size: 16px;
  }
}

.card-footer-controls p {
  font-size: 14px;
 }

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
}

.card-trajet {
  text-decoration: none;
  background: white;
  display: flex;
  padding: 10px;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid lightgrey;
  box-shadow: 0 0 5px lightgrey;
  transition: all 0.3s ease;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 6px;
}

.card-trajet-index {
  text-decoration: none;
  background: white;
  display: flex;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid lightgrey;
  box-shadow: 0 0 2px lightgrey;
  transition: all 0.3s ease;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 15px;
  color: rgb(60, 60, 60)
}

.card-trajet-index:hover {
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.1);
}

.card-trajet-resa {
  text-decoration: none;
  background: white;
  display: flex;
  padding: 10px;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid lightgrey;
  box-shadow: 0 0 5px lightgrey;
  transition: all 0.3s ease;
  justify-content: space-around;
  align-items: center;
}

.card-trajet-profil {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}

.card-trajet-info {
  padding-left: 10px;
  min-width: 100px;
}

.card-trajet-info h3 {
  font-size: 13px;
  margin-bottom: 0px;
}
.card-trajet-info-info p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}

.card-trajet-body {
  flex-grow: 1;
  padding-left: 20px;
  font-size: 15px;
}

.card-trajet-status {
  font-size: 14px;
  font-weight: bold;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-trajet:hover {
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
}

.profile {
  flex: 0 0 20%;

}

.map {

  flex: 0 0 450px;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}


.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #5c8d89;
    opacity: 0.9;
    border-radius: 3px;
}

.btn-success {
  border-radius: 5px;
  &:hover {
    border: 0.5px solid #fff;
  }
}
