// .container-form {
//   background: white;
//   border: black 1px solid;
//   margin-right: 50px;
//   margin-left: 50px;
// }

// .row-form {
//   padding-bottom: 25px;
//   padding-top: 25px;
// }

.form-inline {
  display: flex;
  justify-content: center;
}

#journey {
  display: inline-block;
}

.form-control {
    display: block;
    width: 100%;
    height: 39px;
    padding: 6px 12px;
    font-size: 15px;
    font-family: "Work Sans";
    line-height: 1.42857;
    color: #8e8e8e;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
}


.form-group {
  display: block;
  margin-top: 0em;
  .btn {
    width: 100%;
    // padding: 10px;
    font-weight: bold;
  }
}


form {
    display: block;
    margin-top: 0em;
    padding-bottom: 50px;
    padding-top: 25px;
}

.form-group-choice {
  // background: #fff;
  display: block;
  width: auto;
}

.form-check {
  display: flex;
  justify-content: space-around;
    label {
     font-size: 15px;
     // opacity: .4;
  }
}

.form-choice {
  background: #fff;
  color: #A9A9A9;
  font-family: "Work Sans";
  font-weight: 400;
  padding: 20px;
  border-radius: 5px;
  border: 0.5px solid;
  flex: 0 0 30%;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
  &.active {
  background: $brand-success;
  color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  // opacity: 1;
  }
}



.icone {
  padding-top: 20px;
  padding-bottom: 40px;
  background: white;
}

.picto {
  padding-top: 60px;
  padding-bottom: 80px;
  background: white;
  p {
   font-size: 16px;
  }
}

.picto img {
  padding-bottom: 10px;

}

.text-center {
  text-align: center;
}

.form-control[readonly] {
  background-color: white;
}
