.main-container{
  display: flex;
  margin: 20px;
}


.left-container{
  flex: 0 0 55%;
}

// #map {
//   flex: 0 0 450px;
//   height: 100vh;
//   top: 0 !important;
// }



.city-depart{
  margin: 18px;
}

.true{
  color: green;
}

.false{
  color: grey;
}


.card-driver{
  border: solid 0.5px;
}

