
.main-container-journey{
  display: flex;
  margin: 20px;
  .left-container{
    flex: 0 0 52%;
    .line-para{
      margin-bottom: 50px;
    }
    .flexed{
      text-align: center;
      justify-content: space-between;
    }
  }
}


// #map {
//   flex: 0 0 450px;
//   height: 100vh;
//   top: 0 !important;
// }




.true{
  color: $my-green;
}

.false{
  color: grey;
}

.card-driver{
  border: solid 0.5px light-gray;
  margin-left: 82px;
  padding: 35px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}


.card-driver p{
  margin-top: 10px;
}


.cta{
  margin-top: 15px;
}
