.main-cont{
  display: flex;
  background-color: white;
  border-top: 1px solid #ebebeb;
  height: calc(100vh - 70px);
}

.sh-left-cont{
  flex: 0 0 56%;
}

.sh-overview-cont{
  padding: 5px 0;
  margin: 0 10px;
}

.overview-title{
  margin: 20px;
  font-size: 32px;
  margin-top: 36px;
}

.overview-text{
  margin: 20px 20px 0 20px;
  color: #4F4F4F;
  font-weight: 300;
  font-size: 16px;
}

.sh-trajet-cont{
  padding: 0 20px;
}

.sh-trajet-text1{
  font-weight: 600;
  font-size: 24px;
}

.sh-trajet-text2{
  color: #4F4F4F;
  font-weight: 300;
  font-size: 16px;
}

.sh-trajet-text3{
}

.sh-pref-title{
  font-weight: 600;
  font-size: 24px;
}

.pref-cont{
}

.sh-prf1{
}

.others-title{
  font-weight: 600;
  font-size: 24px;
}

.sh-others{
}

.fa-arrow-left .fa-arrow-left{
  margin-left: 8px;
  margin-right: 8px;
}

.fa-calendar-alt{
  padding-right: 8px;
  color: $my-green;
}

.fa-car{
  padding-right: 8px;
}

.true{
  color: $my-green;
  text-align: center;
}

.false{
  color: #4F4F4F;
  text-align: center;
}

.fa-check-circle{
  color: $my-green;
  font-size: 32px;
  margin-right: 20px;
}


.sh-overview-cont-left{
  margin: 90px 131px;
}

.overview-title-left{
  font-family: Roboto;
  color: white;
  text-align: center;

}

.sh-profile-card{
  background-color: white;
  padding: 1px;
  border-radius: 10px;
}


.sh-profile-cont{
  margin: 25px;
  margin-top: 25px;
}

.sh-profile-description{
  color: #4F4F4F;
  font-size: 16px;
  font-weight: 700;
}

.pref-cont{
  p{
    font-size: 14px;
  }
}

.btn-success-sh{
  width: 100%;
  height: 60px;
  border-radius: 10px;
  font-size: 24px;
  background-color: $my-green;
  color: white;
}

.btn-primary-show{
  width: 100%;
  height: 60px;
  border-radius: 10px;
  font-size: 24px;
  color: white;
  padding-top: 10px;
  margin-bottom: 10px;
}

.name-review
  h5{
    font-size: 24px;
  }

.container-message {
  background: white;
  margin: 0px;
  padding-left: 20px;
  width: 50%;
}

.driver-certif {
      width: 100%;
    display: flex;
    justify-content: flex-end;
}

