.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.card-map {
  display: flex;
  text-decoration: none;
  background: white;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid lightgrey;
  box-shadow: 0 0 2px lightgrey;
  transition: all 0.3s ease;
  justify-content: space-around;
  color: #3c3c3c;

  }

.mapboxgl-popup-content {
  border-radius: 15px !important;
}

.mapboxgl-popup {
  position: relative;
}
