.mapboxgl-popup {
  max-width: 150px !important;
  position: relative;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 10px 10px !important;
  border-radius: 10px !important;
}

.card-map {
  display: flex;
  text-decoration-line: none !important;
  background: white;
  padding: 0px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  justify-content: space-around;
  color: #74B49A;
  &:hover {
    div {
      text-decoration-line: none;
      color: #569F83;
      border-bottom: 0px;
    }
  }
}
.text-decoration-none:hover {
  text-decoration: none;
}
