/*----------------- Testimonials CSS -----------------*/
.testimonial{
    margin-bottom: 10px;
}

.testimonial-section {
  width: 100%;
  height: auto;
  padding: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  border: 1px solid #fff;
}
.testimonial-section:after {
  top: 100%;
  left: 50px;
  border: solid transparent;
  content: " ";
  position: absolute;
  border-top-color: #fff;
  border-width: 15px;
  margin-left: -15px;
}

.testimonial-desc {
  margin-top: 20px;
  text-align:left;
  padding-left: 15px;
  h6{
    font-family:'Krub';
      margin-left: 7px;

  }
}
.testimonial-desc img {
  border: 1px solid #f5f5f5;
  border-radius: 150px;
  height: 70px;
  padding: 3px;
  width: 70px;
  display:inline-block;
  vertical-align: top;
}

.testimonial-writer{
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
}

.testimonial-writer-name{
  font-weight: bold;
}

.testimonial-writer-designation{
    font-size: 85%;
}

.testimonial-writer-company{
    font-size: 85%;
}
  /*---- Outlined Styles ----*/

.testimonial.testimonial-primary-filled{

}
.testimonial.testimonial-primary-filled .testimonial-section{
    color: white;
    background-color: #74b49b;
    border-color: #74b49b;
    font-size: larger;
}

.testimonial.testimonial-primary-filled .testimonial-section:after{
    border-top-color: #74b49b;
}

.testimonial.testimonial-primary-filled .testimonial-desc{

}

.testimonial.testimonial-primary-filled .testimonial-desc img{
    border-color: #569f83;
    background-color: white;
}

.testimonial.testimonial-primary-filled .testimonial-writer-name{
    color: #569f83;
}
