.other-riders {
display: flex;
justify-content: space-around;
}

.riders {

}

.container-profile {
  max-width: 700px;
  margin: 50px auto;
  background-color: white;
  padding: 15px;
  border-radius: 15px;

}

h2.container-profile {
  color: red;
}
