<div>
    <h1>Notes de ce journey</h1>
</div>

<div>
  <h2>Review de : <%= @review.journey.name %></h2>
  <p>Trajet: <%= @review.journey.name %></p>
  <p>Description: <%= @review.journey.description %></p>
  <p>Note: <%= @review.rating %></p>
</div>
